#map { 
    height: 100vh; 
    margin: 0;
    background-color: #202020;
  }
  
  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }

  .leaflet-container {
    background-color:#202020;
}